@charset "utf-8";
/* CSS Document */

/*--------RESET-CSS--------*/
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0;
  background: #1d1e24;
  color: #aeb0b8;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
div,
ul,
h1,
h2,
h3,
h4,
h5,
li,
p,
img,
form,
input,
textarea {
  margin: 0;
  padding: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
table,
tr,
td {
  border: 0;
}
a {
  outline: none;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  transition: color 0.3s cubic-bezier(0.72, 0.16, 0.345, 0.875);
}

img {
  border: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
.img-full {
  max-width: 100%;
}
.clearall {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.showTab,
.showMob {
  display: none;
}

/*--------BACKGROUND--------*/
.background {
  float: left;
  width: 100%;
  background-color: rgb(29, 30, 36);
  background-image: url(../images/triangles-top.svg),
    url(../images/triangles-bottom.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 100%;
}
.container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 96px 15px 0;
}
.header {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.box {
  background-color: #23262b;
  box-shadow: rgba(0, 0, 0, 0.07) -4px 8px 24px;
  border-radius: 20px;
  padding: 30px;
  transition: box-shadow 0.3s ease-in-out 0s;
}
.header__left {
  width: 50%;
  display: flex;
  justify-content: left;
  position: relative;
  padding-right: 30px;
}
.header__left:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #33363d;
}
.header__author {
  width: 162px;
  height: 162px;
  margin-top: -66px;
  background-color: #23262b;
  border: 6px solid #23262b;
  border-radius: 47px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.header__author-image {
  width: 100%;
  height: auto;
}
.header__intro {
  width: calc(100% - 186px);
  margin-left: 24px;
  text-align: left;
}
.header__name {
  color: #fff;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 600;
  margin-bottom: 2px;
}
.header__status {
  font-size: 14px;
  line-height: 23.8px;
}
.header__social {
  display: flex;
  align-items: center;
  font-size: 16px;
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}
.header__social li {
  margin-right: 16px;
}
.header__social li:last-child {
  margin-right: 0;
}
.header__social a {
  color: #93959c;
}
.header__social a:hover {
  color: #304cfd;
}
.header__right {
  width: 50%;
  display: flex;
  position: relative;
  padding-left: 30px;
}
.header__contact {
  color: #fcfcfc;
  width: 50%;
  text-align: left;
  padding-left: 40px;
}
.header__contact li {
  font-size: 14px;
  line-height: 23.8px;
  margin-bottom: 16px;
  word-break: break-all;
}
.header__contact li:last-child {
  margin-bottom: 0;
}
.header__contact li a:hover {
  color: #304cfd;
}
.overhead {
  color: #aeb0b8;
  font-size: 12px;
  line-height: 20.4px;
  display: block;
  text-transform: uppercase;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.row__left {
  width: 16.666667%;
  position: relative;
  padding: 0 15px;
}
.side-stickybar {
  position: sticky;
  top: 10px;
  transition: all 0.3s ease-in-out;
}
.nav-bar {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  display: block;
  height: 100px;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.nav-item:last-child {
  margin-bottom: 0;
}
.nav-item a {
  background-color: #2e2f36;
  border-radius: 20px;
  color: #aeb0b8;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  transition: all 0s;
}
.nav-item a i {
  display: block;
  font-size: 34px;
  margin: 4px 0 8px;
}
.nav-item a:hover {
  color: #0d86ff;
}
.nav-item a.active {
  background-image: linear-gradient(142.17deg, #3086ff 6.66%, #304cfd 91.48%);
  box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.1),
    inset 4px 4px 5px hsla(0, 0%, 100%, 0.23);
  color: #fff;
}

.row__right {
  width: 83.333333%;
  position: relative;
  padding: 0 15px;
  text-align: left;
}
.box__content-top {
  padding-bottom: 8px;
}
.box__content-head {
  position: relative;
  margin-bottom: 37px;
  color: #fcfcfc;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 600;
}
.box__content-head:before,
.box__content-head::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -18px;
  height: 5px;
  border-radius: 50px;
}
.box__content-head:before {
  width: 50px;
  background-color: #0d86ff;
}
.box__content-head:after {
  background-color: #ff965d;
  width: 16px;
}
.box__content-text {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 23.8px;
}
.box__content-inner {
  margin-top: 24px;
}
.box__content-sub-head {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #fcfcfc;
}
.box__content-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.box__content-work {
  width: 50%;
  padding: 0 15px;
}
.case-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 24px);
  border: 2px solid #33363d;
  border-radius: 30px;
  margin-bottom: 24px;
  padding: 30px 30px 24px;
  position: relative;
  text-align: center;
}
.case-item img {
  max-width: 100%;
}
.case-item__text {
  width: 100%;
  margin-top: 16px;
}
.case-item__head {
  color: #fcfcfc;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  margin-bottom: 8px;
}
.case-item__caption {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.box__content__clients-container {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 8px 0 16px;
  margin: 0 auto;
  overflow: hidden;
}
.box__content__clients-container li img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*--------FOOTER--------*/
.footer {
  display: block;
  margin: 0 auto;
  padding: 16px 0;
  text-align: center;
  color: #93959c;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
}
.footer__links {
  color: #304cfd;
  font-weight: 300;
}
.footer__links:hover {
  text-decoration: underline;
}

/*--------RESUME--------*/
.box__content-col {
  width: 100%;
  position: relative;
}
.title-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -4px 8px 0 0;
  height: 30px;
  width: 30px;
}
.timeline {
  margin-top: 28px;
  padding-left: 8px;
}
.timeline__item {
  border-left: 1px solid #33363d;
  padding-bottom: 9px;
  padding-left: 22px;
  position: relative;
}
.timeline__item:last-child {
  border-left: none;
}
.timeline__item:before {
  content: "";
  top: 0;
  left: -5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: #0d86ff;
  box-shadow: 0 0 0 0.1875rem rgba(13, 134, 255, 0.25);
}
.timeline__title {
  margin-bottom: 0;
  position: relative;
  top: -5px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 600;
}
.timeline__title small {
  font-size: 80%;
  line-height: 16.64px;
  font-weight: 400;
}
.timeline__period {
  display: block;
  color: rgba(174, 176, 184, 0.7);
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
}
.timeline__description {
  margin: 8px 0 16px;
}
.timeline__description {
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
}
.timeline__description span {
  display: block;
  white-space: pre-wrap;
}
.box__content-small {
  width: 50%;
  padding: 0 15px;
}
.box__border {
  border: 2px solid #33363d;
  border-radius: 20px;
}
.progress {
  display: flex;
  font-size: 12px;
  line-height: 20.4px;
  font-weight: 400;
  background-color: #2e2f36;
  border-radius: 16px;
  height: 24px;
  margin-bottom: 24px;
  overflow: inherit;
  position: relative;
  text-align: right;
}
.progress:last-child {
  margin-bottom: 0;
}
.progress__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
  background-image: linear-gradient(142.17deg, #0da2ff 6.66%, #05f 91.48%);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  width: 0;
  z-index: 1;
}
.progress__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 13px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/*--------BLOG--------*/
.blog__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.blog__box {
  width: calc(50% - 30px);
  margin: 0 15px 30px;
  padding: 0;
  background-color: #2e2f36;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
}
.blog__box-top {
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  height: 224px;
  position: relative;
}
.blog__box-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(46, 47, 54, 0.45);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.blog__box-top:after {
  content: "";
  background-image: url(../images/blog-overlay.svg);
  height: 2.5rem;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  width: 2.5rem;
  z-index: 2;
}
.blog__date {
  color: #fcfcfc;
  background-color: #ff965d;
  border-radius: 20px 0 20px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 28.6px;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 2;
}
.blog__date span {
  font-size: 13px;
  line-height: 16.9px;
  font-weight: 400;
  display: block;
}
.blog__image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
}
.blog__box-bottom {
  padding: 24px 24px 8px;
}
.blog__head {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  color: #fcfcfc;
  margin-bottom: 8px;
}
.blog__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #aeb0b8;
  margin-bottom: 16px;
}
.blog__box:hover .blog__box-top:before,
.blog__box:hover .blog__box-top:after {
  opacity: 1;
}

/*--------CONTACT--------*/
.mb16 {
  margin-bottom: 16px;
  color: #aeb0b8;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
}
.form__feild {
  position: relative;
  margin-bottom: 32px;
}
.form__input {
  display: block;
  width: 100%;
  height: auto;
  padding: 13px 22px 14px;
  box-shadow: none;
  border: 2px solid #2e2f36;
  border-radius: 20px;
  background-color: #2e2f36;
  font-family: "Poppins", sans-serif;
  color: #aeb0b8;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  appearance: none;
}
.form__input:focus {
  background-color: #23262b;
  border: 2px solid #33363d;
  color: #aeb0b8;
  box-shadow: none;
  outline: none;
}
.form__input::placeholder {
  color: #93959c;
  opacity: 1;
}
.box__content-large {
  width: 100%;
  padding: 0 15px;
}
textarea.form__input {
  padding: 12px 19px 13px;
  resize: none;
}
.contact-form .box__content-row:last-child .form__feild {
  margin-bottom: 0;
}
.button {
  float: right;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  box-shadow: inset -0.25rem -4px 5px rgba(0, 0, 0, 0.1),
    inset 4px 4px 5px hsla(0, 0%, 100%, 0.23);
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  height: 56px;
  padding: 0 24px;
  position: relative;
  transition: 0.4s ease-in-out;
  white-space: nowrap;
  background-image: linear-gradient(142.17deg, #0da2ff 6.66%, #05f 91.48%);
}
.button i {
  margin-right: 6px;
}

/*--------PORTFOLIO--------*/
.select__list-box {
  position: relative;
}
.select__button {
  display: none;
}
.select-list {
  display: inline-flex;
  flex-wrap: wrap;
  color: #aeb0b8cc;
  font-size: 16px;
  line-height: 27.2px;
  list-style: none;
  margin-bottom: 19px;
  padding: 0;
}
.select-list li {
  padding-right: 16px;
  position: relative;
}
.select-links {
  display: block;
  position: relative;
  padding: 0 4px;
  cursor: pointer;
}
.select-list .select-links.active {
  color: #fcfcfc;
}
.select-list li:before {
  background-color: #aeb0b8;
  content: "";
  border-radius: 0.1875rem;
  position: absolute;
  top: 0;
  right: 6px;
  bottom: 0;
  height: 4px;
  margin: auto;
  width: 4px;
}
.select-list li:last-child:before {
  display: none;
}
.portfolio__grid {
  margin-right: 2px;
  column-count: 2;
  column-gap: 30px;
}
.portfolio__item {
  display: grid;
  break-inside: avoid;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  position: relative;
  border: 2px solid #33363d;
  border-radius: 20px;
  background-color: #23262b;
  box-shadow: -4px 8px 24px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.3s ease-in-out;
}
.portfolio__image {
  height: auto;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.portfolio-item__category {
  background-color: #ff965d;
  color: #fff;
  border-radius: 15px 0 20px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.9px;
  padding: 4px 12.8px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 2;
}
.portfolio-item__category span {
  display: block;
}
.portfolio__image img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
  transform: scaleX(1);
  transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__image img {
  transform: scale3d(1.1, 1.1, 1);
}

.portfolio__overlay {
  cursor: pointer;
  position: absolute;
  transition: all 0.15s ease-in-out;
  width: 100%;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}
.blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 200px;
  width: 100%;
}
.overlay__text {
  z-index: 10;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  padding: 0 16px;
}
.overlay__text p {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  margin-bottom: 8px;
}
.overlay__text span {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 400;
}
.portfolio__link-btn {
  height: 2em;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  text-decoration: none;
  background: #304cfd;
  border-radius: 4px;
  color: #f5f2f4;
  font-size: 12px;
  line-height: 18px;
  transition: 0.2s ease-in;
}
.portfolio__link-btn:hover {
  background: #1b33d1;
}
.portfolio__caption {
  display: block;
}
.portfolio__caption p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 600;
  color: #fcfcfc;
}

/* The Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #1d1e24;
  cursor: zoom-out;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*--------MEDIA-QUERY--------*/

/*--------1200px-SCREEN--------*/
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .side-stickybar.box {
    padding: 24px;
  }
  .nav-item {
    height: 82px;
  }
  .nav-item a {
    border-radius: 16px;
    font-size: 12px;
    line-height: 20.4px;
  }
  .nav-item a i {
    font-size: 28px;
    margin: 4px 0 4px;
  }
}

/*--------990px-SCREEN--------*/
@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .header {
    flex-direction: column;
  }
  .header__left {
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  .header__left:before {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
  }
  .header__author {
    margin-top: -80px;
    margin-bottom: 20px;
  }
  .header__intro {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .header__social {
    justify-content: center;
    margin-bottom: 2px;
  }

  .header__right {
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
  .header__right ul:first-child {
    padding: 0;
    margin-bottom: 16px;
  }
  .overhead {
    line-height: 20.6px;
  }

  .row__left {
    width: 100%;
  }
  .side-stickybar {
    border-bottom: 1px solid #33363d;
    border-radius: 20px 20px 0 0;
  }
  .side-stickybar.box {
    padding: 30px;
  }
  .nav-bar {
    justify-content: space-between;
  }
  .nav-item {
    width: calc(20% - 8px);
    margin-bottom: 0;
  }
  .nav-item a {
    font-size: 11px;
  }
  .nav-item a i {
    font-size: 23px;
  }

  .row__right {
    width: 100%;
  }
  .box.box__content {
    border-radius: 0 0 20px 20px;
  }

  .box__content-work {
    width: 100%;
  }
  .case-item {
    height: calc(100% - 20px);
  }

  .box__content__clients-container {
    padding: 8px 0 0px;
  }

  .button {
    width: 100%;
  }

  .blog__box {
    width: 100%;
  }
  .blog__box:last-child {
    margin-bottom: 0;
  }
  .blog__box-top {
    height: 288px;
  }

  .select__button {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    background-color: #2e2f36;
    border-radius: 20px;
    margin-bottom: 32px;
    padding: 12px 19px 11px 20px;
    text-align: left;
    z-index: 2;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 23.8px;
    font-weight: 400;
    color: #aeb0b8;
  }
  .select__button::after {
    content: "\e940";
    position: absolute;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
    z-index: 10;
  }
  .select-list {
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2e2f36;
    padding: 10px 0;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
  }
  .select-list li {
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding: 5px 20px 3px;
  }
  .select-list li:before {
    display: none;
  }
  .select-links {
    padding: 0;
    font-size: 14px;
    line-height: 23.8px;
    color: #aeb0b8;
  }
  .select-list .select-links.active {
    color: #aeb0b8;
  }
  .portfolio__grid {
    column-count: 1;
  }
  /*.portfolio__item:last-child { margin-bottom:0;}*/
}

/*--------768px-SCREEN--------*/
@media only screen and (max-width: 767px) {
  .background {
    background-size: contain;
  }

  .container {
    padding-top: 130px;
  }
  .box {
    padding: 16px;
  }

  .header {
    margin-bottom: 15px;
  }
  .header__status {
    line-height: 23.4px;
  }
  .header__social {
    margin-bottom: 1px;
    font-size: 15px;
  }
  .header__right {
    flex-direction: column;
    padding-top: 24px;
  }
  .header__contact {
    width: 100%;
    padding-left: 0;
  }
  .header__right ul:first-child {
    margin-bottom: 12px;
  }
  .header__contact li {
    line-height: 22.4px;
    margin-bottom: 12px;
  }
  .overhead {
    line-height: 19.2px;
  }

  .side-stickybar {
    box-shadow: 0 20px 40px rgba(103, 118, 128, 0.2);
    border-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .side-stickybar.box {
    padding: 8px 15px;
  }
  .nav-bar {
    justify-content: center;
  }
  .nav-item {
    height: auto;
    width: 20%;
  }
  .nav-item a {
    background-color: transparent;
    line-height: 17.6px;
  }
  .nav-item a.active {
    background-image: none;
    box-shadow: none;
    color: #3086ff;
  }
  .nav-item a.active:before {
    content: "";
    background-color: #3086ff;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
  }
  .nav-item a i {
    font-size: 17px;
    margin-top: 6px;
  }

  .box.box__content {
    border-radius: 13.333333px;
  }
  .box__content-head {
    font-size: 28px;
    line-height: 36.4px;
    margin-bottom: 25px;
  }
  .box__content-head:before,
  .box__content-head::after {
    height: 3px;
    bottom: -11px;
  }
  .box__content-head:before {
    width: 48px;
  }
  .box__content-head:after {
    width: 16px;
  }
  .box__content-text {
    line-height: 22.4px;
  }
  .box__content-top {
    padding-bottom: 0px;
  }
  .box__content-sub-head {
    font-size: 18px;
    line-height: 23.4px;
  }
  .case-item {
    border-radius: 13.333333px;
    height: calc(100% - 15px);
    margin-bottom: 15px;
    padding: 16px;
  }
  .case-item__head {
    font-size: 16px;
    line-height: 20.8px;
  }
  .case-item__caption {
    font-size: 13px;
    line-height: 18.2px;
  }

  .footer {
    padding: 8px 0;
    line-height: 22.4px;
  }

  /*--------RESUME--------*/
  .pb8 {
    padding-bottom: 8px;
  }
  .title-icon {
    width: 30px;
    height: 25px;
    margin-top: -6px;
  }
  .timeline {
    margin-top: 24px;
  }
  .timeline__title {
    font-size: 14px;
    line-height: 18.2px;
  }
  .timeline__period {
    line-height: 22.4px;
  }
  .timeline__description {
    margin-top: 3px;
    line-height: 22.4px;
  }
  .box__content-small {
    width: 100%;
  }
  .box__border {
    padding: 16px;
    border-radius: 13.333333px;
  }
  .progress {
    margin-bottom: 12px;
    height: 22px;
  }
  .progress {
    font-size: 10px;
    line-height: 19px;
  }

  /*--------CONTACT--------*/
  .mb16 {
    line-height: 22.4px;
  }
  .form__feild {
    margin-bottom: 27px;
  }
  .form__input {
    padding: 13px 22px 12px;
    line-height: 22.4px;
  }

  .blog__box {
    margin-bottom: 20px;
  }
  .blog__box-top {
    height: 192px;
  }
  .blog__date {
    font-size: 18px;
    line-height: 21.6px;
    padding: 9px 16px;
  }
  .blog__date span {
    font-size: 10px;
    line-height: 12px;
  }
  .blog__box-bottom {
    padding: 19px 16px 0;
  }
  .blog__head {
    font-size: 16px;
    line-height: 20.8px;
  }

  .select__button {
    margin-bottom: 16px;
    line-height: 22.4px;
  }
  .portfolio__item {
    border-radius: 13.3333333333px;
    padding: 16px;
  }
  .portfolio__caption p {
    font-size: 14px;
    line-height: 18.2px;
  }
  .portfolio-item__category {
    font-size: 10px;
    line-height: 12px;
    padding: 3.2px 11.2px;
  }
  .modal-content {
    width: 100%;
  }
}

.pb0 {
  padding-bottom: 0;
}
.regular-weight {
  font-weight: 400;
}

.success,
.error {
  color: #fff;
  padding: 10px;
  display: none;
  margin: 10px auto;
  max-width: 400px;
  border-radius: 5px;
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.success {
  background-color: #4caf50;
}
.error {
  background-color: #f44336;
}
.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
